fastapi==0.111.0
langchain==0.2.5
langchain_community==0.2.5
langchain_experimental==0.0.61
langchain_groq==0.1.5
langchain_openai==0.1.9
matplotlib==3.8.4
numpy==2.0.0
pandas==2.2.2
prophet==1.1.5
pydantic==2.7.4
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.4.2
scipy==1.14.0
SQLAlchemy==2.0.30
streamlit==1.16.0
streamlit==1.29.0
streamlit==1.36.0
uvicorn==0.30.1
